In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
df = pd.read_csv("HRDataset_v13.csv")

In [3]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Brown, Mia",1103024456,1,1,0,1,1,3,1,28.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,2.04,2,6,1/15/2019,0.0
1,"LaRotonda, William",1106026572,0,2,1,1,1,3,0,23.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,4,4,1/17/2019,0.0
2,"Steans, Tyrone",1302053333,0,0,1,1,1,3,0,29.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Internet Search,Fully Meets,3.90,5,5,1/18/2019,0.0
3,"Howard, Estelle",1211050782,1,1,0,1,1,3,0,21.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Pay Per Click - Google,Fully Meets,3.24,3,4,NaN,NaN
4,"Singh, Nan",1307059817,0,0,0,1,1,3,0,16.56,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,3,5,1/15/2019,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 35 columns):
Employee_Name                 310 non-null object
EmpID                         310 non-null int64
MarriedID                     310 non-null int64
MaritalStatusID               310 non-null int64
GenderID                      310 non-null int64
EmpStatusID                   310 non-null int64
DeptID                        310 non-null int64
PerfScoreID                   310 non-null int64
FromDiversityJobFairID        310 non-null int64
PayRate                       310 non-null float64
Termd                         310 non-null int64
PositionID                    310 non-null int64
Position                      310 non-null object
State                         310 non-null object
Zip                           310 non-null int64
DOB                           310 non-null object
Sex                           310 non-null object
MaritalDesc                   310 non-null object
CitizenDesc                   310 non-null object
HispanicLatino                310 non-null object
RaceDesc                      310 non-null object
DateofHire                    310 non-null object
DateofTermination             103 non-null object
TermReason                    309 non-null object
EmploymentStatus              310 non-null object
Department                    310 non-null object
ManagerName                   310 non-null object
ManagerID                     302 non-null float64
RecruitmentSource             310 non-null object
PerformanceScore              310 non-null object
EngagementSurvey              310 non-null float64
EmpSatisfaction               310 non-null int64
SpecialProjectsCount          310 non-null int64
LastPerformanceReview_Date    207 non-null object
DaysLateLast30                207 non-null float64
dtypes: float64(4), int64(13), object(18)
memory usage: 84.8+ KB

In [5]:
df['DateofTermination']

0             NaN
1             NaN
2             NaN
3        04/15/15
4             NaN
5        09/25/13
6      08-02-2014
7             NaN
8             NaN
9             NaN
10            NaN
11     09-05-2015
12            NaN
13       10/31/14
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
          ...
280      08/30/10
281           NaN
282      04/24/14
283           NaN
284           NaN
285           NaN
286           NaN
287           NaN
288      08/15/15
289           NaN
290           NaN
291           NaN
292    06-05-2013
293           NaN
294    09-07-2015
295           NaN
296           NaN
297      04/15/14
298           NaN
299           NaN
300           NaN
301      06/16/16
302           NaN
303      02/19/16
304    11-10-2015
305           NaN
306           NaN
307           NaN
308           NaN
309           NaN
Name: DateofTermination, Length: 310, dtype: object

In [6]:
df.drop(["Employee_Name","Sex","EmpID","MaritalDesc","ManagerID","DaysLateLast30"],axis=1,inplace=True)

In [7]:
#df['Zip'].value_counts()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 29 columns):
MarriedID                     310 non-null int64
MaritalStatusID               310 non-null int64
GenderID                      310 non-null int64
EmpStatusID                   310 non-null int64
DeptID                        310 non-null int64
PerfScoreID                   310 non-null int64
FromDiversityJobFairID        310 non-null int64
PayRate                       310 non-null float64
Termd                         310 non-null int64
PositionID                    310 non-null int64
Position                      310 non-null object
State                         310 non-null object
Zip                           310 non-null int64
DOB                           310 non-null object
CitizenDesc                   310 non-null object
HispanicLatino                310 non-null object
RaceDesc                      310 non-null object
DateofHire                    310 non-null object
DateofTermination             103 non-null object
TermReason                    309 non-null object
EmploymentStatus              310 non-null object
Department                    310 non-null object
ManagerName                   310 non-null object
RecruitmentSource             310 non-null object
PerformanceScore              310 non-null object
EngagementSurvey              310 non-null float64
EmpSatisfaction               310 non-null int64
SpecialProjectsCount          310 non-null int64
LastPerformanceReview_Date    207 non-null object
dtypes: float64(2), int64(12), object(15)
memory usage: 70.3+ KB

In [9]:
"""df["DateofTermination"]
df["DateofTermination"].fillna(0,inplace=True)
termination = []
for val in df["DateofTermination"]:
    if val != 0:
        termination.append(1)
    else:
        termination.append(0)
df['termination'] = termination


termination = []
for dates in df["DateofTermination"]:
    if dates == np.NaN:
        termination.append(0)
    else:
        termination.append(1)
df['termination'] = termination

df.head()"""

'df["DateofTermination"]\ndf["DateofTermination"].fillna(0,inplace=True)\ntermination = []\nfor val in df["DateofTermination"]:\n    if val != 0:\n        termination.append(1)\n    else:\n        termination.append(0)\ndf[\'termination\'] = termination\n\n\ntermination = []\nfor dates in df["DateofTermination"]:\n    if dates == np.NaN:\n        termination.append(0)\n    else:\n        termination.append(1)\ndf[\'termination\'] = termination\n\ndf.head()'

In [10]:
#df["DateofTermination"]

In [11]:
#df['termination']

In [12]:
df['DateofTermination'] = df['DateofTermination'].astype(str)
df['DateofTermination']= pd.to_datetime(df['DateofTermination'])

df['DateofHire'] = df['DateofHire'].astype(str)
df['DateofHire']= pd.to_datetime(df['DateofHire'])


df['daysofwork']=df['DateofTermination']-df['DateofHire']


df["daysofwork"].fillna(0,inplace=True)

C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Passing integers to fillna is deprecated, will raise a TypeError in a future version.  To retain the old behavior, pass pd.Timedelta(seconds=n) instead.
  # This is added back by InteractiveShellApp.init_path()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 30 columns):
MarriedID                     310 non-null int64
MaritalStatusID               310 non-null int64
GenderID                      310 non-null int64
EmpStatusID                   310 non-null int64
DeptID                        310 non-null int64
PerfScoreID                   310 non-null int64
FromDiversityJobFairID        310 non-null int64
PayRate                       310 non-null float64
Termd                         310 non-null int64
PositionID                    310 non-null int64
Position                      310 non-null object
State                         310 non-null object
Zip                           310 non-null int64
DOB                           310 non-null object
CitizenDesc                   310 non-null object
HispanicLatino                310 non-null object
RaceDesc                      310 non-null object
DateofHire                    310 non-null datetime64[ns]
DateofTermination             103 non-null datetime64[ns]
TermReason                    309 non-null object
EmploymentStatus              310 non-null object
Department                    310 non-null object
ManagerName                   310 non-null object
RecruitmentSource             310 non-null object
PerformanceScore              310 non-null object
EngagementSurvey              310 non-null float64
EmpSatisfaction               310 non-null int64
SpecialProjectsCount          310 non-null int64
LastPerformanceReview_Date    207 non-null object
daysofwork                    310 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(12), object(13), timedelta64[ns](1)
memory usage: 72.7+ KB

In [14]:
df.head()

,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,Termd,PositionID,...,EmploymentStatus,Department,ManagerName,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,daysofwork
0,1,1,0,1,1,3,1,28.50,0,1,...,Active,Admin Offices,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets,2.04,2,6,1/15/2019,0 days
1,0,2,1,1,1,3,0,23.00,0,1,...,Active,Admin Offices,Brandon R. LeBlanc,Website Banner Ads,Fully Meets,5.00,4,4,1/17/2019,0 days
2,0,0,1,1,1,3,0,29.00,0,1,...,Active,Admin Offices,Brandon R. LeBlanc,Internet Search,Fully Meets,3.90,5,5,1/18/2019,0 days
3,1,1,0,1,1,3,0,21.50,1,2,...,Terminated for Cause,Admin Offices,Brandon R. LeBlanc,Pay Per Click - Google,Fully Meets,3.24,3,4,NaN,58 days
4,0,0,0,1,1,3,0,16.56,0,2,...,Active,Admin Offices,Brandon R. LeBlanc,Website Banner Ads,Fully Meets,5.00,3,5,1/15/2019,0 days

In [16]:
new_list= []
for y in df["daysofwork"]:
    a=str(y)
    b=a.strip("days")
    print(y.split("days"))
    new_list.append(float(b))
df['days'] = new_list

AttributeError: 'Timedelta' object has no attribute 'split'

In [ ]:
daysofwork1 = []
for val in df['daysofwork']:
    for val1 in df['DateofHire']:
        if "0 days" in val:
            #print("yes")
            daysofwork1.append(val1-date.today())
        else:
            daysofwork1.append(val)

In [ ]:
daysofwork1