In [1]:
# Importing standard libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans 
from sklearn import metrics 
from scipy.spatial.distance import cdist

In [2]:
df = pd.read_csv('Walmart_Store_sales.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
missing_values = ["n/a", "na", " "]
df = pd.read_csv('Walmart_Store_sales.csv',na_values=missing_values)

In [4]:
df.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [5]:
df_max= df.groupby(['Store'])['Weekly_Sales'].max()
df_max

Store
1     2387950.20
2     3436007.68
3      605990.41
4     3676388.98
5      507900.07
6     2727575.18
7     1059715.27
8     1511641.09
9      905324.68
10    3749057.69
11    2306265.36
12    1768249.89
13    3595903.20
14    3818686.45
15    1368318.17
16    1004730.69
17    1309226.79
18    2027507.15
19    2678206.42
20    3766687.43
21    1587257.78
22    1962445.04
23    2734277.10
24    2386015.75
25    1295391.19
26    1573982.47
27    3078162.08
28    2026026.39
29    1130926.79
30     519354.88
31    2068942.97
32    1959526.96
33     331173.51
34    1620748.25
35    1781866.98
36     489372.02
37     605791.46
38     499267.66
39    2554482.84
40    1648829.18
41    2263722.68
42     674919.45
43     725043.04
44     376233.89
45    1682862.03
Name: Weekly_Sales, dtype: float64

In [6]:
print(df.max())

Store                    45
Date             31-12-2010
Weekly_Sales    3.81869e+06
Holiday_Flag              1
Temperature          100.14
Fuel_Price            4.468
CPI                 227.233
Unemployment         14.313
dtype: object

In [7]:
print(df[df.Weekly_Sales == df.Weekly_Sales.max()])

      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
1905     14  24-12-2010    3818686.45             0        30.59       3.141

            CPI  Unemployment
1905  182.54459         8.724

In [8]:
print(df[df.Weekly_Sales == df.Weekly_Sales.std()])

Empty DataFrame
Columns: [Store, Date, Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI, Unemployment]
Index: []

In [9]:
df.std(axis = 0, skipna = True)

Store               12.988182
Weekly_Sales    564366.622054
Holiday_Flag         0.255049
Temperature         18.444933
Fuel_Price           0.459020
CPI                 39.356712
Unemployment         1.875885
dtype: float64

In [52]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [72]:
df_std= df.groupby(['Store'])['Weekly_Sales'].std()
a = df_std.reset_index().sort_values('Weekly_Sales',ascending=False).max()
max_value = a["Weekly_Sales"]
print(b)

317569.9494755081

In [73]:
df_store14 = df[df['Store']==14]
store14_mean = df_store14["Weekly_Sales"].mean()
print(max_value/store14_mean)

0.1571367360094833

In [12]:
# does Store equals to 1?
# df_1 is a boolean variable with True or False in it
df_1 =  df['Store']==1
print(df_1.head())

0    True
1    True
2    True
3    True
4    True
Name: Store, dtype: bool

In [13]:
df_stores = df[df_1]

In [14]:
df_stores.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [15]:
df_stores.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [16]:
# date to object
df_stores['Date'] = df_stores['Date'].astype(str)
df_stores['Date']= pd.to_datetime(df_stores['Date'])

C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
df_stores.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [18]:
df_stores.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106

In [87]:
df_stores['Date'].min()

Timestamp('2010-01-10 00:00:00')

In [88]:
df_stores['sample_date'] = '2010-01-09'
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 0 to 142
Data columns (total 10 columns):
Store           143 non-null int64
Date            143 non-null datetime64[ns]
Weekly_Sales    143 non-null float64
Holiday_Flag    143 non-null object
Temperature     143 non-null float64
Fuel_Price      143 non-null float64
CPI             143 non-null float64
Unemployment    143 non-null float64
sample_date     143 non-null object
days            143 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(2), timedelta64[ns](1)
memory usage: 12.3+ KB

In [89]:
# date to object
df_stores['sample_date'] = df_stores['sample_date'].astype(str)
df_stores['sample_date']= pd.to_datetime(df_stores['sample_date'])

In [92]:
df_stores['days'] = df_stores['Date'] - df_stores['sample_date']
df_stores.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,sample_date,days
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,2010-01-09,113 days
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,2010-01-09,327 days
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010-01-09,41 days
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010-01-09,48 days
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,2010-01-09,114 days

In [94]:
new_list1= []
for days in df_stores["days"]:
    day = str(days)
    day_filter = day.split(" ")
    print(day_filter)
    new_list1.append(int(day_filter[0]))
df_stores['day'] = new_list1

['113', 'days', '00:00:00']
['327', 'days', '00:00:00']
['41', 'days', '00:00:00']
['48', 'days', '00:00:00']
['114', 'days', '00:00:00']
['328', 'days', '00:00:00']
['69', 'days', '00:00:00']
['76', 'days', '00:00:00']
['26', 'days', '00:00:00']
['238', 'days', '00:00:00']
['97', 'days', '00:00:00']
['104', 'days', '00:00:00']
['111', 'days', '00:00:00']
['177', 'days', '00:00:00']
['125', 'days', '00:00:00']
['132', 'days', '00:00:00']
['139', 'days', '00:00:00']
['87', 'days', '00:00:00']
['301', 'days', '00:00:00']
['160', 'days', '00:00:00']
['167', 'days', '00:00:00']
['29', 'days', '00:00:00']
['241', 'days', '00:00:00']
['188', 'days', '00:00:00']
['195', 'days', '00:00:00']
['202', 'days', '00:00:00']
['150', 'days', '00:00:00']
['216', 'days', '00:00:00']
['223', 'days', '00:00:00']
['230', 'days', '00:00:00']
['59', 'days', '00:00:00']
['273', 'days', '00:00:00']
['251', 'days', '00:00:00']
['258', 'days', '00:00:00']
['1', 'days', '00:00:00']
['213', 'days', '00:00:00']
['279', 'days', '00:00:00']
['286', 'days', '00:00:00']
['293', 'days', '00:00:00']
['122', 'days', '00:00:00']
['336', 'days', '00:00:00']
['314', 'days', '00:00:00']
['321', 'days', '00:00:00']
['62', 'days', '00:00:00']
['276', 'days', '00:00:00']
['342', 'days', '00:00:00']
['349', 'days', '00:00:00']
['356', 'days', '00:00:00']
['538', 'days', '00:00:00']
['370', 'days', '00:00:00']
['377', 'days', '00:00:00']
['384', 'days', '00:00:00']
['448', 'days', '00:00:00']
['662', 'days', '00:00:00']
['405', 'days', '00:00:00']
['412', 'days', '00:00:00']
['449', 'days', '00:00:00']
['663', 'days', '00:00:00']
['433', 'days', '00:00:00']
['440', 'days', '00:00:00']
['360', 'days', '00:00:00']
['572', 'days', '00:00:00']
['461', 'days', '00:00:00']
['468', 'days', '00:00:00']
['475', 'days', '00:00:00']
['512', 'days', '00:00:00']
['489', 'days', '00:00:00']
['496', 'days', '00:00:00']
['503', 'days', '00:00:00']
['421', 'days', '00:00:00']
['635', 'days', '00:00:00']
['524', 'days', '00:00:00']
['531', 'days', '00:00:00']
['363', 'days', '00:00:00']
['575', 'days', '00:00:00']
['552', 'days', '00:00:00']
['559', 'days', '00:00:00']
['566', 'days', '00:00:00']
['484', 'days', '00:00:00']
['698', 'days', '00:00:00']
['587', 'days', '00:00:00']
['594', 'days', '00:00:00']
['396', 'days', '00:00:00']
['608', 'days', '00:00:00']
['615', 'days', '00:00:00']
['622', 'days', '00:00:00']
['629', 'days', '00:00:00']
['547', 'days', '00:00:00']
['643', 'days', '00:00:00']
['650', 'days', '00:00:00']
['657', 'days', '00:00:00']
['457', 'days', '00:00:00']
['671', 'days', '00:00:00']
['678', 'days', '00:00:00']
['685', 'days', '00:00:00']
['399', 'days', '00:00:00']
['611', 'days', '00:00:00']
['706', 'days', '00:00:00']
['713', 'days', '00:00:00']
['720', 'days', '00:00:00']
['874', 'days', '00:00:00']
['734', 'days', '00:00:00']
['741', 'days', '00:00:00']
['748', 'days', '00:00:00']
['783', 'days', '00:00:00']
['997', 'days', '00:00:00']
['769', 'days', '00:00:00']
['776', 'days', '00:00:00']
['755', 'days', '00:00:00']
['968', 'days', '00:00:00']
['797', 'days', '00:00:00']
['804', 'days', '00:00:00']
['811', 'days', '00:00:00']
['877', 'days', '00:00:00']
['825', 'days', '00:00:00']
['832', 'days', '00:00:00']
['839', 'days', '00:00:00']
['817', 'days', '00:00:00']
['1031', 'days', '00:00:00']
['860', 'days', '00:00:00']
['867', 'days', '00:00:00']
['727', 'days', '00:00:00']
['940', 'days', '00:00:00']
['888', 'days', '00:00:00']
['895', 'days', '00:00:00']
['902', 'days', '00:00:00']
['880', 'days', '00:00:00']
['916', 'days', '00:00:00']
['923', 'days', '00:00:00']
['930', 'days', '00:00:00']
['789', 'days', '00:00:00']
['1003', 'days', '00:00:00']
['951', 'days', '00:00:00']
['958', 'days', '00:00:00']
['965', 'days', '00:00:00']
['912', 'days', '00:00:00']
['979', 'days', '00:00:00']
['986', 'days', '00:00:00']
['993', 'days', '00:00:00']
['852', 'days', '00:00:00']
['1066', 'days', '00:00:00']
['1014', 'days', '00:00:00']
['1021', 'days', '00:00:00']

In [98]:
df_stores.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,sample_date,days,day
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,2010-01-09,113 days,113
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,2010-01-09,327 days,327
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010-01-09,41 days,41
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010-01-09,48 days,48
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,2010-01-09,114 days,114

In [99]:
df_stores.drop(['Date','sample_date','days'], inplace=True, axis=1)

In [100]:
df_stores.head()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,day
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,113
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,327
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,41
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,48
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,114

In [104]:
df_stores.drop('Store', inplace=True, axis=1)

In [106]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 0 to 142
Data columns (total 7 columns):
Weekly_Sales    143 non-null float64
Holiday_Flag    143 non-null object
Temperature     143 non-null float64
Fuel_Price      143 non-null float64
CPI             143 non-null float64
Unemployment    143 non-null float64
day             143 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.9+ KB

In [107]:
df_num = df_stores.select_dtypes(["int64","float64"])
df_cat = df_stores.select_dtypes("object")

In [108]:
df_cat.head()

  Holiday_Flag
0            0
1            1
2            0
3            0
4            0

In [114]:
from sklearn.preprocessing import LabelEncoder
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [118]:
df_stores = pd.concat([df_num, df_cat], axis=1)
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 0 to 142
Data columns (total 7 columns):
Weekly_Sales    143 non-null float64
Temperature     143 non-null float64
Fuel_Price      143 non-null float64
CPI             143 non-null float64
Unemployment    143 non-null float64
day             143 non-null int64
Holiday_Flag    143 non-null int32
dtypes: float64(5), int32(1), int64(1)
memory usage: 8.4 KB

In [119]:
df_stores.corr()

,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,day,Holiday_Flag
Weekly_Sales,1.000000,-0.222701,0.124592,0.225408,-0.097955,0.217681,0.194905
Temperature,-0.222701,1.000000,0.228493,0.118503,-0.180695,0.092485,-0.200543
Fuel_Price,0.124592,0.228493,1.000000,0.755259,-0.513944,0.769876,-0.085903
CPI,0.225408,0.118503,0.755259,1.000000,-0.813471,0.943083,-0.028919
Unemployment,-0.097955,-0.180695,-0.513944,-0.813471,1.000000,-0.775811,0.082949
day,0.217681,0.092485,0.769876,0.943083,-0.775811,1.000000,0.056987
Holiday_Flag,0.194905,-0.200543,-0.085903,-0.028919,0.082949,0.056987,1.000000

In [121]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.feature_selection import SelectFromModel

In [123]:
x = df_stores.drop("Weekly_Sales", axis=1)
y = df_stores["Weekly_Sales"]

In [127]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
lr = LinearRegression()
sel = SelectFromModel(LinearRegression())
sel.fit(x_train,y_train)
#y_pred = sel.predict(x_test)
#print(r2_score(y_pred,y_test))

SelectFromModel(estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                           n_jobs=None, normalize=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [128]:
sel.get_support()

array([False,  True, False,  True, False,  True])

In [129]:
selected_feat= x_train.columns[(sel.get_support())]
len(selected_feat)

3

In [130]:
print(selected_feat)

Index(['Fuel_Price', 'Unemployment', 'Holiday_Flag'], dtype='object')

In [144]:
x = df_stores[['Fuel_Price','Unemployment','CPI']]
y = df_stores["Weekly_Sales"]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
print(r2_score(y_pred, y_test))

-20.026432572138177

In [153]:
print(lr.score(x_train,y_train)) #bias

0.11261757968345765

In [154]:
print(lr.score(x_test,y_test)) #variance

0.008206534804484411

In [19]:
#df_stores['Holiday_Flag'] = df_stores['Holiday_Flag'].astype(str)

C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_stores.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag            object
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [21]:
df_num = df_stores.select_dtypes(["int64","float64"])
df_cat = df_stores.select_dtypes("object")

In [22]:
df_cat.head()

  Holiday_Flag
0            0
1            1
2            0
3            0
4            0

In [23]:
from sklearn.preprocessing import StandardScaler 
for col in df_num.columns:
    sc = StandardScaler()
    df_num[col] = sc.fit_transform(df_num[[col]])
    
df_num.head()

C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\prane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   Store  Weekly_Sales  Temperature  Fuel_Price       CPI  Unemployment
0    0.0      0.568899    -1.830686   -1.521079 -1.130288      1.295958
1    0.0      0.557747    -2.098280   -1.577441 -1.096657      1.295958
2    0.0      0.364808    -1.998285   -1.657288 -1.085823      1.295958
3    0.0     -0.936323    -1.526473   -1.546911 -1.078788      1.295958
4    0.0     -0.002945    -1.535627   -1.396612 -1.071754      1.295958

In [24]:
df_new = pd.concat([df_num,df_cat],axis=1)

In [25]:
df_new.head()

,Store,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Flag
0,0.0,0.568899,-1.830686,-1.521079,-1.130288,1.295958,0
1,0.0,0.557747,-2.098280,-1.577441,-1.096657,1.295958,1
2,0.0,0.364808,-1.998285,-1.657288,-1.085823,1.295958,0
3,0.0,-0.936323,-1.526473,-1.546911,-1.078788,1.295958,0
4,0.0,-0.002945,-1.535627,-1.396612,-1.071754,1.295958,0

In [26]:
df_new['Date']=df_stores['Date']

In [27]:
df_new.head()

,Store,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Flag,Date
0,0.0,0.568899,-1.830686,-1.521079,-1.130288,1.295958,0,2010-05-02
1,0.0,0.557747,-2.098280,-1.577441,-1.096657,1.295958,1,2010-12-02
2,0.0,0.364808,-1.998285,-1.657288,-1.085823,1.295958,0,2010-02-19
3,0.0,-0.936323,-1.526473,-1.546911,-1.078788,1.295958,0,2010-02-26
4,0.0,-0.002945,-1.535627,-1.396612,-1.071754,1.295958,0,2010-05-03

In [28]:
# Converting dates into days
df_new['Month'] = pd.to_datetime(df_new['Date']).dt.to_period('M')
df_new['Day'] = pd.to_datetime(df_new['Date']).dt.to_period('D')
df_new['Year'] = pd.to_datetime(df_new['Date']).dt.to_period('Y')

In [29]:
df_new.head()

,Store,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Flag,Date,Month,Day,Year
0,0.0,0.568899,-1.830686,-1.521079,-1.130288,1.295958,0,2010-05-02,2010-05,2010-05-02,2010
1,0.0,0.557747,-2.098280,-1.577441,-1.096657,1.295958,1,2010-12-02,2010-12,2010-12-02,2010
2,0.0,0.364808,-1.998285,-1.657288,-1.085823,1.295958,0,2010-02-19,2010-02,2010-02-19,2010
3,0.0,-0.936323,-1.526473,-1.546911,-1.078788,1.295958,0,2010-02-26,2010-02,2010-02-26,2010
4,0.0,-0.002945,-1.535627,-1.396612,-1.071754,1.295958,0,2010-05-03,2010-05,2010-05-03,2010

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings('ignore')

In [31]:
x = df_new.drop('Weekly_Sales',axis=1)
y = df_new['Weekly_Sales']

In [32]:
# spliting data for training and testing
x_train, x_test, y_train, y_test = train_test_split(x, y,
                                            random_state=1, 
                                             test_size=0.3)

In [33]:
lr = LinearRegression()

In [34]:
lr.fit(x_train,y_train)

TypeError: float() argument must be a string or a number, not 'Timestamp'